{% extends 'Full Page without Child Links' %}
{% block main %}
  <div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; text-align: left; min-height: 100px; padding: 8px; margin: 0px;">
    <div class="container" style="display: flex; flex-wrap: wrap;">
      <div id="myMap" style="position: relative; width: 600px; height: 400px;"></div>
    </div>
  </div>  
  <script>
        function GetMap(rData) {

          var map = new Microsoft.Maps.Map('#myMap', {
            credentials: '<<BINGMAP KEY>>',
            center: new Microsoft.Maps.Location(rData[1].lat, rData[1].long),
            mapTypeId: Microsoft.Maps.MapTypeId.canvasLight,
            zoom: 4
          });

          var i;
          for(i = 0; i < rData.length; i++)
          {
            var location = new Microsoft.Maps.Location(rData[i].lat, rData[i].long);
            var pin = new Microsoft.Maps.Pushpin(location, {title: rData[i].name, subTitle: "", text: i});
            map.entities.push(pin);
          }

        }
        $(document).ready(function() {
          alert("hello world");
          $.get('/getAccounts', GetMap, 'json');
        });
  </script>
  <script src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&amp;key=<<BINGMAPKEY>>" async="" defer=""></script>

{% endblock %}